-e .

ansi2html
build
chardet
mkdocs
ruff
mkdocs-material
mkdocs-gen-files
mkdocs-include-markdown-plugin
pexpect
pipenv
pytest
termynal
twine
uv
virtualenvwrapper; sys_platform != 'win32'
virtualenvwrapper-win; sys_platform == 'win32'
